<div class="row-fluid clearfix">
    <div class="span4">
        <div class="well well-small">
            <ul class="nav nav-tabs" id="sideTabs">
                <li class="active"><a href="#addNewApp">Add New App</a>
                </li>
                <li><a href="#stats">Stats</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="addNewApp">

                    <form class="form-horizontal">
                        <fieldset>
                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="AppName">Name</label>
                                <div class="controls">
                                    <input id="appName" name="AppName" type="text" placeholder="MyApp" class="input" ng-model="inputAppName" required="">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="domain">Domain</label>
                                <div class="controls">
                                    <input id="domain" name="domain" type="text" placeholder="myapp.domain.com" class="input" ng-model="inputDomain" required="">
                                    <p class="help-block">the domain you specify must point toward this host</p>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="target">Target</label>
                                <div class="controls">
                                    <input id="target" name="target" type="text" placeholder="localhost:3000" class="input" ng-model="inputTarget" required="">
                                    <p class="help-block">target hostname and port to proxy requests to</p>
                                </div>
                            </div>

                            <!-- select input-->
                            <div class="control-group">
                                <label class="control-label" for="appType">Runtime</label>
                                <div class="controls">
                                    <select id="appType">
                                        <option>Select Runtime</option>
                                        <option value='node'>Node</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="path">Project Path</label>
                                <div class="controls">
                                    <input id="path" name="path" type="text" placeholder="/root/apps/app1/" class="input" ng-model="inputPath" required="">
                                    <p class="help-block">path for the root of this apps project</p>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="control-group">
                                <label class="control-label" for="entry">Entry Point</label>
                                <div class="controls">
                                    <input id="entry" name="target" type="text" placeholder="app.js" class="input" ng-model="inputEntry" required="">
                                    <p class="help-block">the script to run when booting application</p>
                                </div>
                            </div>

                            <hr />
                            <!-- Button (Double) -->
                            <div class="control-group">
                                <label class="control-label" for="save"></label>
                                <div class="controls">
                                    <button id="save" name="save" ng-click="save()" class="btn btn-inverse pull-right">Create</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>

                <div class="tab-pane" id="stats">
                    <h5>Per App Hits</h5>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>App Name</th>
                                <th>Domain</th>
                                <th># Requests</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="appstat in appstats">
                                <td ng-bind="appstat.name"></td>
                                <td ng-bind="appstat.domain"></td>
                                <td ng-bind="appstat.requests"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="server">...</div>
            </div>
        </div>
    </div>
    <!--/span-->
    <div class="span6">
        <div class="well well-small">
            <h4>Current Apps</h4>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Domain</th>
                        <th>Target</th>
                        <th>Root</th>
                        <th>Entrypoint</th>
                        <th>Status</th>
                        <th>PID</th>
                        <th>
                            <!--Controls -->
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="app in apps">
                        <td>

                            <strong>{{app.name}}</strong>

                        </td>

                        <td>
                            <span inline-edit="app.domain" on-save="updateApp('domain',  app.domain, app._id)" on-cancel="cancelEdit(app._id)" class="eie"></span>
                        </td>
                        <td>
                            <span inline-edit="app.target" on-save="updateApp('target',  app.target, app._id)" on-cancel="cancelEdit(app._id)" class="eie"></span>
                        </td>
                        <td>
                            <span inline-edit="app.entryPoint" on-save="updateApp('entryPoint',  app.entryPoint, app._id)" on-cancel="cancelEdit(app._id)" class="eie"></span>
                        </td>
                        <td>
                            <span inline-edit="app.rootPath" on-save="updateApp('rootPath',  app.rootPath, app._id)" on-cancel="cancelEdit(app._id)" class="eie"></span>
                        </td>
                        <td ng-bind="app.status"></td>
                        <td ng-bind="app.pid"></td>
                        <td>
                            <a class="btn btn-small" href="#/apps/{{app._id}}/delete"><i class="icon-remove"></i>&nbsp;</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row-fluid">
                <div class="btn-group">
                    <div class="btn-group">
                        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                            Proxy Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="proxyStop()">Stop</a>
                            </li>
                            <li><a ng-click="proxyStart()">Start</a>
                            </li>
                            <li><a ng-click="proxyRestart()">Restart</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                            App Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="restartAll()">Restart All</a>
                            </li>
                            <li><a ng-click="stopAll()">Stop All</a>
                            </li>
                            <li><a ng-click="startAll()">Start All</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="span2">
        <div class="well well-small">
            <h4>System Status</h4>
            <hr />
            <div class="row-fluid">
                <div class="stat span4 module">Total Hits<div class="kpi" ng-bind="stats.hits"></div></div>
                <div class="stat span4 module">Rate<div class="kpi" ng-bind="proxyMetrics.allRequestsPerSecond.currentRate"></div></div>
                <div class="stat span4 module">Proxy Status<div class="kpi" ng-bind="proxyStatus"></div></div>
            </div>
        </div>
    </div>
</div>